body {
    font-family: 'Open Sans', sans-serif;
}
.red {
    color: red;
}
.courseDesc {
    font-size: 80%;
    margin: 10px 0px;
}
.title {
    font-size: 22px;
}
.listLesson {
    font-size: 20px;
}
a {
    color: blue;
}
a:hover {
    color: red;
}


